@page "{bookId:int}"

@model Libraryapp.Pages.Books.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<h2>@Model.Book.Name </h2>

<div>
    Author: @Model.Book.Author
</div>

<div>
   Id: @Model.Book.BookID
</div>

<a asp-page="./List"class="btn btn-default">All books</a>

